@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:wght@200;300;400;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('./Header.css');
@import url('./Footer.css');

/* Hero Section */

.hero_section_wrapper{
    background-image: url('../images/Sponsorpage/sponsorbg.png');
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 10px 80px;
}

.hero_second_div{
    margin-top: auto;
    margin-bottom: 30px;
}

.hero_speaker_image{
    /* background: linear-gradient(90deg, #F741BB 0%, #5A6FF4 100%); */
    width: fit-content;
    top: 0;
    right: 10px;
    position: absolute;
    z-index: 0;
}

.hero_first_div{
    position: relative;
    z-index: 2;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 0rem 3rem;
}

.hero_headline{
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: left;
    color: #F4238D;
    /* background: #FFFFFF;
    padding: 10px;
    margin-top: -12px;
    margin-left: -12px; */
}

/* .border_style{
    border-bottom: 3px solid #F4238D;
    border-right: 3px solid #F4238D;
    padding-right: 12px;
    padding-bottom: 12px;
} */

.hero_heading{
    font-family: Plus Jakarta Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 60.48px;
    text-align: left;
    color: #FFFFFF;

}

.hero_summary{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.68px;
    text-align: left;
    color: #C8C7D3;

}

.event_headline{
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.64px;
    text-align: left;
    color: #C8C7D3;
    display: flex;
    flex-direction: column;
}

.event_heading{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.68px;
    text-align: left;
    color: #fff;
}

.event_location{
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.64px;
    text-align: left;
    color: #C8C7D3;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.event_date{
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.64px;
    text-align: left;
    color: #C8C7D3;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.upcoming_details{
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}

.upcoming_events{
    backdrop-filter: blur(20px);
    border: 1px solid;
    border-image-source: linear-gradient(134.72deg, rgba(255, 255, 255, 0.5) -1.24%, rgba(255, 255, 255, 0.3) 100.74%);
    background: linear-gradient(134.86deg, rgba(113, 113, 113, 0.45) 0.99%, rgba(255, 255, 255, 0.2) 99.01%);
    border-radius: 15px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.horizontal_line_event{
    border: 1px solid #C8C7D3
}

.hero_register_btn{
    background: linear-gradient(90deg, #F741BB 0%, #5A6FF4 100%);
    padding: 10px 30px;
    border: 1px solid transparent;
    border-radius: 20px;
    color: #fff;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.16px;
    text-align: left;

}

/* Current Sponsors */


.sponsor_wrapper{
   padding: 4rem 0rem;
}

.sponsor_header{
    width: fit-content;
    margin: auto;
}

.sponsor_heading{
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background-clip: text;
    background-image: linear-gradient(90deg, #F741BB 0%, #5A6FF4 100%)    ;  
    -webkit-text-fill-color: transparent;  
}


.sponsors_img_wrapper{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.first_set,.second_set{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}




/* Why Attend? */



.why_attend_sectin{
    background-image: url('../images/Speakerpage/bgspeakerimg.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 8rem 1rem;
    height: 900px;
}

.why_attend_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 4rem 0rem;
}

.attend_content_part{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
}

.attend_accordion{
    width: 80%;
}


.accordion-button[aria-expanded="false"]{
    background-color: #170548!important;
    color: #fff!important;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25.2px;
    text-align: left;
    border: 1px solid #5A6FF4!important;
    border-radius: 15px!important;
    transition: none!important;
}

.accordion-button[aria-expanded="true"]{
    background-color: #fff!important;
    color: #000!important;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25.2px;
    text-align: left;
    border: none!important;
    border-radius: 15px!important;
    transition: none!important;
}

.accordion-body{
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000;    
}

.accordion-button::after{
    background-image: url('../images/Detailspage/arrow.png')!important;
    height: 0.7rem!important;
}

.why_attend_headline{
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.32px;
    text-align: left;
    background-clip: text;
    background-image: linear-gradient(90deg, #F741BB 0%, #5A6FF4 100%);
    -webkit-text-fill-color: transparent;
}

.accordion-item{
    margin-bottom: 1rem;
    border: 2px solid #5A6FF4!important;
    border-radius: 17px!important;

}

/* Get Started Form */

.speaker_form_section{
    padding: 3rem 0;
}

.form_wrapper{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.form_header{
    width: fit-content;
    margin: auto;
}

.form_heading{
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.32px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background-clip: text;
    background-image: linear-gradient(90deg, #F741BB 0%, #5A6FF4 100%);
    -webkit-text-fill-color: transparent;
}

.form_summary{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.68px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #717380;    
}

.form_wrap{
    display: flex;
    flex-direction: column;
}

.spname_div,.email_div,.title_div,.number_div,.text_area1_div,.text_area2_div,.text_area3_div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 1rem;
    gap: 10px;
}

.speaker_label{
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.96px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1C1826;
    margin-left: 20px;
}

.combine_divv{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.speakername_inp,.speakermail_inp,.speakertitle_inp,.speakernumber_inp{
    background-color: #fff;
    border: none;
    border-radius: 20px;
    width: 100%;
    padding: 12px 20px;
    box-shadow: 0px 4px 20px 0px #00000026;
}

.speakerarea1_inp,.speakerarea2_inp,.speakerarea3_inp{
    background-color: #fff;
    border: none;
    border-radius: 20px;
    width: 100%;
    height: auto;
    padding: 12px 20px;
    box-shadow: 0px 4px 20px 0px #00000026;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.submit_btn_div{
    width: fit-content;
    margin: auto;
}

.submit_btn{
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
    padding: 1.2rem 2.5rem;
    margin: 2rem 0rem;
    border: none;
    border-radius: 23px;
    background: linear-gradient(90deg, #F741BB 0%, #5A6FF4 100%);
}
