
.footer_section{
    background-color: #2D1C5B;
    padding: 40px;

}


.second_div{
    position: relative;
    width: 60%;
    padding: 20px 30px;
}

.newsletter{
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 36.8px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #fff;
    padding: 10px 30px;
}

.news_sub_heading{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #CBCBCB;
    padding: 0px 30px;


}

.email_wrapper > input{
    width: 100%!important;
    padding: 10px 30px!important;
    box-shadow: 0px 4px 120px 0px #8E837126 !important;
    border: 1px solid transparent;
}

.subs_btn{
    position: absolute;
    bottom: 0;
    right: 0;
    background: #825FF1;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.16em;
    text-align: left;
    padding: 15px 30px;
    border: none;
}

.third_div{
    padding: 40px;
    padding-bottom: 0px;
}

.footer_menu_list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

.footer_menu{
    width: 70%;
    margin: auto;
}

.footer_list_item{
    text-decoration: none;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.4px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #C0C0C0;

}

.footer_bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;

}

.combine_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.copyright{
    font-family: Plus Jakarta Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 13.8px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #FFFFFF;

}

.horrizontal_line{
    border: 1px solid #B0B0B0

}

.email_wrapper{
    display: flex;
    flex-direction: row;
}

/* Footer */

.footer_form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 2rem;
}

.second_div{
    width: 60%;
}

.name_div,.mail_div{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.name_label{
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.96px;
    text-align: left;
    color: #FFFFFF;
    padding-left: 1rem;
}

.email_label{
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.96px;
    text-align: left;
    color: #FFFFFF;
    padding-left: 1rem;
}

.name_input{
    box-shadow: 0px 4px 20px 0px #00000026;
    background-color: #FFFFFF;
    border: none;
    border-radius: 20px;
    padding: 12px 20px;
    width: 100%;
}

.email_input{
    box-shadow: 0px 4px 20px 0px #00000026;
    background-color: #FFFFFF;
    border: none;
    border-radius: 20px;
    padding: 12px 20px;
    width: 100%;
}

.subscibe_button{
    border: none;
    border-radius: 15px;
    background-color: #825FF1;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 20.16px;
    text-align: left;
    color: #fff;
    padding: 1.2rem 3rem;
}


/* Modal */

.modal-content{
    padding: 0!important;
    box-shadow: 0px 4px 20px 0px #00000026;
    border-radius: 30px!important;
    width: fit-content!important;
    border: none!important;
}

.modal-body{
    padding: 0!important;
    box-shadow: 0px 4px 20px 0px #00000026;
    border-radius: 30px!important;
}

.success_modal_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 415px;
    margin: auto;
    padding: 2rem 1rem;
    gap: 2rem;
}

.check_div{
    width: 160px;
    height: 160px;
    background-image: url('../images/Footer/successbg.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.success_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.success_heading{
    font-family: Plus Jakarta Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 37.8px;
    letter-spacing: 0.1em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #40513B;
}

.success_summary{
    font-family: Plus Jakarta Sans;
    font-size: 15px;
    font-weight: 600;
    line-height: 18.9px;
    letter-spacing: 0.05em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #40513B7D;
    width: 80%;
}


.done_btn{
    border: none;
    border-radius: 15px;
    padding: 15px 20px;
    background: linear-gradient(90deg, #F741BB 0%, #5A6FF4 100%);
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.16px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
    width: 80%;
    margin: auto;
}

/* Mobile Responsive */

@media screen and (width <= 600px){
    .footer_section{
        padding-bottom: 0;
        padding-right: 0;
        padding-left: 0;
        padding-top: 2rem;
    }

    .newsletter{
        font-family: Plus Jakarta Sans;
        font-size: 24px;
        font-weight: 700;
        line-height: 27.6px;
        letter-spacing: 0.01em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #fff;        
    }

    .news_sub_heading{
        font-family: Plus Jakarta Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 25.6px;
        letter-spacing: 0.01em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #CBCBCB;        
    }

    .second_div{
        width: 100%;
        padding: 10px;
    }

    .copyright{
        display: none;
    }

    .footer_logo{
        display: none;
    }

    .footer_bottom{
        width: 100%;
    }

    .footer_social_icons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .combine_div{
        width: 100%;
    }

    .third_div{
        padding: 1rem;
    }

    .footer_menu{
        width: 100%;
    }

    .footer_menu_list{
        padding: 0;
    }

    .footer_list_item{
        font-family: Plus Jakarta Sans;
        font-size: 12px;
        font-weight: 500;
        line-height: 18.4px;
        letter-spacing: 0.01em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;        
    }
}
