*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all .2s;
}


.active{
    color:#C0C0C0!important;
}

/*
font-family: Rubik;
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0em;
text-align: left;

*/

/* .top_navbar{
    padding: 10px;
} */

#navbar_section{
    position: fixed;
    top: 0;
    background-color: transparent;
    z-index: 10;
    overflow-x: hidden;
    width: 100%;
}

#navbar_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 7rem;
    margin-block: 12px;
}

.menu_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.nav_menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
    margin-bottom: 0!important;
}

.menu_item{
    text-decoration: none;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.16px;
    text-align: left;
    color: #FFFFFF;

}

.menu_item:hover{
    color: #9E4879;
}

.contact_btn{
    padding: 10px 30px;
    background: #CB262D;
    color: #FFFEFF;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
}

.off_canvas_wrap{
    display: none!important;
}

/* Tablet View */



/* Mobile View */

@media screen and (width <= 1000px){
    .menu_wrapper{
        display: none;
    }

    .off_canvas_wrap{
        display: block!important;
    }

}
