@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:wght@200;300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:wght@200;300;400;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:wght@200;300;400;600&display=swap");
@import url("./Header.css");
@import url("./Footer.css");

.hero_section_wrapper {
    background-image: url("../images/Homepage/Rectangle 7.png");
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 93vh;
    padding: 10px 80px;
}

.hero_second_div {
    margin-top: auto;
    margin-bottom: 30px;
}

.hero_speaker_image {
    /* background: linear-gradient(90deg, #F741BB 0%, #5A6FF4 100%); */
    width: 49%;
    top: 0;
    right: 10px;
    position: absolute;
    z-index: 0;
}

.hero_first_div {
    position: relative;
    z-index: 2;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 0rem 4rem;
}

.hero_headline {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 58.51px;
    text-align: left;
    color: #f4238d;
    background: #ffffff;
    padding: 10px;
    margin-top: -12px;
    margin-left: -12px;
}

.border_style {
    border-bottom: 3px solid #f4238d;
    border-right: 3px solid #f4238d;
    padding-right: 12px;
    padding-bottom: 12px;
}

.hero_heading {
    font-family: Plus Jakarta Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 60.48px;
    text-align: left;
    color: #ffffff;
}

.hero_summary {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.68px;
    text-align: left;
    color: #c8c7d3;
    width: 70%;
}

.event_headline {
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.64px;
    text-align: left;
    color: #c8c7d3;
    display: flex;
    flex-direction: column;
}

.event_heading {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.68px;
    text-align: left;
    color: #fff;
}

.event_location {
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 25.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.event_date {
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.upcoming_details {
    display: flex;
    flex-direction: column;
}

.upcoming_events {
    backdrop-filter: blur(20px);
    border: 1px solid;
    border-image-source: linear-gradient(
        134.72deg,
        rgba(255, 255, 255, 0.5) -1.24%,
        rgba(255, 255, 255, 0.3) 100.74%
    );
    background: linear-gradient(
        134.86deg,
        rgba(113, 113, 113, 0.45) 0.99%,
        rgba(255, 255, 255, 0.2) 99.01%
    );
    border-radius: 15px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.horizontal_line_event {
    border: 1px solid #c8c7d3;
}

.hero_btn_wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.hero_register_btn {
    background: linear-gradient(90deg, #f741bb 0%, #5a6ff4 100%);
    padding: 1rem 3rem;
    /* border: 1px solid transparent; */
    border-radius: 15px;
    color: #fff;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.16px;
    text-align: left;
    text-decoration: none;
}

/* // While hovering
// Change to: "Variant2";
// Animate: Smart animate;
animation-timing-function: ease-out;
animation-duration: 500ms; */

.hero_register_btn:hover {
    color: #fff;
    text-decoration: none;
}

.hero_learn_more_btn {
    background: transparent;
    padding: 10px 30px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    color: #fff;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.16px;
    text-align: left;
    text-decoration: none;
}

.hero_learn_more_btn:hover {
    color: #fff;
    text-decoration: none;
}

/* Timer */

.timer_wrapper {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: -2.2rem;
    right: 25%;
}

.days,
.hours,
.seconds,
.minutes {
    box-shadow: 2px 4px 15px 0px #00000026;
    border-radius: 15px;
    padding: 12px;
    background-color: #fff;
    width: 90px;
}

.timer_count {
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 38.93px;
    text-align: center;
    color: #000000;
}

.timer_timing {
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.95px;
    text-align: center;
    color: #000000;
}

/* About The Conference */

.about_the_cenference {
    position: relative;
    padding-top: 5rem;
}

.about_conference_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin: auto;
    padding: 20px 40px;
    background-image: url("../images/Homepage/Group 4.png");
    background-repeat: no-repeat;
    background-position: right;
}

.conference_images {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    background-image: url("../images/Homepage/Group 4.png");
    background-repeat: no-repeat;
    background-position: right;
    width: 55%;
}

.first_set {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.second_set {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
}

.about_conference_heading {
    font-family: Plus Jakarta Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 50.4px;
    text-align: left;
    color: #001023;
}

.img1_div,
.img2_div,
.img3_div,
.img4_div {
    position: relative;
}

.overflow_txt {
    position: absolute;
    top: 2rem;
    width: 100%;
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    line-height: 40.32px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #ffffff;
    padding-inline:10px;
}

.conference_content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.images_description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem 0rem;
    gap: 40px;
    width: 45%;
    background-image: url("../images/Homepage/Group 4.png");
    background-repeat: no-repeat;
    background-position: bottom;
}

.desc_heading {
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.32px;
    text-align: left;
    background-clip: text;
    background-image: linear-gradient(90deg, #f741bb 0%, #5a6ff4 100%);
    -webkit-text-fill-color: transparent;
}

.desc_summary {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.68px;
    text-align: left;
    color: #001023;
    width: 100%;
}

.register_btn {
    background: linear-gradient(90deg, #f741bb 0%, #5a6ff4 100%);
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.16px;
    text-align: left;
    color: #ffffff;
    padding: 10px 40px;
    border: 1px solid transparent;
    border-radius: 20px;
    text-decoration: none;
}

.register_btn:hover {
    color: #ffffff;
    text-decoration: none;
}

.learn_more_btn2 {
    padding: 8px 32px;
    position: relative;
    background-color: white;
    background-clip: padding-box;
    border: 5px solid transparent;
    border-radius: 1.75rem;
    z-index: 1;
    text-decoration: none;
    margin-left: 24px;
}

.learn_more_btn2:hover {
    color: #fff;
    text-decoration: none;
}

.learn_more_btn2::before {
    content: "";
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2.5px;
    left: -2.5px;
    z-index: -1;
    background-image: linear-gradient(90deg, #5a6ff4 0%, #f741bb 81.86%);
    border-radius: 1.75rem;
}

.button__label {
    margin: 0;
    background-image: linear-gradient(90deg, #5a6ff4 0%, #f741bb 81.86%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.16px;
    text-align: left;
}

/* Call For Speakers */

.speakers_section_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: #2d1c5b;
    padding: 4rem 6rem;
}

.speakers_content {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px;
}

.get_involved {
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: left;
    color: #f4238d;
}

.call_spaekers {
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.32px;
    text-align: left;
    color: #ffffff;
}

.speaker_summary {
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.86px;
    text-align: left;
    color: #cecbd7;
    padding: 20px 0px;
}

.proposal_btn {
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.16px;
    text-align: left;
    color: #ffffff;
    background: linear-gradient(90deg, #f741bb 0%, #5a6ff4 100%);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    width: fit-content;
}

.speaker_img > img {
    width: 700px;
    z-index: 0;
    /* background: linear-gradient(180deg, rgba(45, 28, 91, 0) 47.35%, #2D1C5B 93.49%);
    filter: drop-shadow(5px 23px 13px #2D1C5B); */
}

/* Events booking */

.event_booking {
    background: #eff1fd;
}

.event_booking_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 60px 0px;
}

.headline_content {
    padding: 20px 10px;
}

.early_bird {
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.32px;
    text-align: center;
    background-clip: text;
    background-image: linear-gradient(90deg, #5a6ff4 0%, #f741bb 81.86%);
    -webkit-text-fill-color: transparent;
}

.early_bird_summary {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.68px;
    text-align: center;
    color: #717380;
    width: 70%;
    margin: auto;
}

.remaining_days {
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: center;
    color: #f4238d;
    animation: colorChange 1000ms infinite;
}

@keyframes colorChange {
    0% {
        color: #f4238d;
    }

    50% {
        color: #14063b;
    }
}

.booking_slots {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 3rem;
    margin: auto;
}

.individual {
    border-radius: 15px;
    background: #7750e7;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.group_booking {
    border-radius: 15px;
    background: #ffffff;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    border: 1px solid;
    border-image-source: linear-gradient(90deg, #f741bb 0%, #5a6ff4 100%);
}

.title_tag {
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.16px;
    text-align: left;
    color: #ffffff;
    background: #e946c1;
    padding: 10px 20px;
    border-radius: 20px;
}

.group_title_tag {
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.16px;
    text-align: left;
    color: #7750e7;
    background: #e7e1fa;
    padding: 10px 20px;
    border-radius: 20px;
}

.price {
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 45.36px;
    text-align: left;
    color: #fff;
}

.group_price {
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 45.36px;
    text-align: left;
    color: #1c1826;
}

.buy_ticket {
    background: #ffffff;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.16px;
    text-align: left;
    color: #7750e7;
    padding: 10px 40px;
    border-radius: 12px;
    border: 1px solid transparent;
    margin-top: 20px;
    margin-bottom: 10px;
}

.buy_ticket_btn {
    border: 1px solid #5a6ff4;
    color: #5a6ff4;
    background-color: transparent;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.16px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 40px;
    border-radius: 12px;
}

/* Sponsors and Partners */

.sponsors_wrapper {
    width: 60%;
    margin: auto;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sponsors_heading {
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.32px;
    text-align: center;
    background-clip: text;
    background-image: linear-gradient(90deg, #f741bb 0%, #5a6ff4 100%);
    -webkit-text-fill-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sponsor_summary {
    width: 70%;
    margin: auto;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.68px;
    text-align: center;
    color: #717380;
}

.sponsors_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 20px 0px;
}

/* Upcoming Events Carousel */

.events_headlines {
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.32px;
    background-clip: text;
    background-image: linear-gradient(90deg, #5a6ff4 0%, #f741bb 81.86%);
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.events_summary {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.68px;
    text-align: center;
    color: #717380;
}

.upcoming_carousel_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #eff1fd;
}

.Upcoming_headlines {
    width: 30%;
}

.carousel_div {
    width: 90%;
    text-align: center;
    padding: 20px;
}

.slide_1 {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.slide_1_1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12rem;
    height: 70vh;
    padding: 2rem;
    background-image: url("../images/Homepage/Group 6.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.slide_1_2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12rem;
    height: 70vh;
    padding: 2rem;
    background-image: url("../images/Homepage/Rectangle 4.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* .div_upcom_eve{
    display: flex;
    flex-direction: column;
    gap: 2rem;
} */

.upcom_headline {
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 30.24px;
    text-align: left;
    color: #fff;
    width: 80%;
}

.upcom_event_data {
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25.76px;
    text-align: left;
    color: #fff;
}

.upcom_learn_more_btn {
    background: linear-gradient(90deg, #f741bb 0%, #5a6ff4 100%);
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 20px;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.16px;
    text-align: left;
    color: #fff;
}

.controls {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 40px;
}

/* Previous Events */

.background_div {
    background: linear-gradient(140.1deg, #fe2287 0.22%, #6626d8 77.66%);
    /* background-image: url("../images/Homepage/Group 4.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: right; */
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50%;
    height: 80%;
    text-align: right;
    z-index: 0;
}

.previious_events {
    background: #2d1c5b;
    position: relative;
    padding: 40px;
}

.event_details_img {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10rem;
    height: 80vh;
    padding: 6rem 5rem;
    background-image: url("../images/Homepage/Group 15.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.prev_event_date {
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 30.91px;
    text-align: left;
    color: #ffffff;
}

.div_prev {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.attendees {
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.76px;
    text-align: left;
    color: #fff;
}

.learn_more_btn {
    background: linear-gradient(90deg, #f741bb 0%, #5a6ff4 100%);
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 15px;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.16px;
    text-align: left;
    color: #fff;
}

.previous_event_wrapper {
    background-image: url("../images/Homepage/Group 4.png");
    background-repeat: no-repeat;
    background-position-y: top;
}

.previous_details {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    z-index: 2;
    position: relative;
}

.prev_event_heading {
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.32px;
    text-align: center;
    color: #fff;
}

.images_carousel {
    width: 90%;
    margin: auto;
}

/* Event Reviews */

.clients_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 4rem 0px;
}

.client_details {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.review_content {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.bottom_part {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.controls_reviews {
    display: flex;
    flex-direction: row;
    gap: 14px;
}

.combine_client {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.event_reviews {
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.32px;
    text-align: left;
    background-clip: text;
    background-image: linear-gradient(90deg, #5a6ff4 0%, #f741bb 81.86%);
    -webkit-text-fill-color: transparent;
}

.review_headline {
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 30.91px;
    text-align: left;
    color: #1c1826;
}

.review_summary {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.68px;
    text-align: left;
    color: #1c1826;
    width: 80%;
}

.client_name {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.68px;
    text-align: left;
    color: #1c1826;
    margin-bottom: 0px;
}

.client_designation {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.68px;
    text-align: left;
    color: #1c1826;
    margin-bottom: 6px;
}
