@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:wght@200;300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:wght@200;300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:wght@200;300;400;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("./Header.css");
@import url("./Footer.css");

/* Hero Section */

.hero_section_wrapper {
    background-image: url("../images/Previouspage/background.png");
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 10px 80px;
}

.hero_second_div {
    margin-top: auto;
    margin-bottom: 30px;
}

.hero_speaker_image {
    /* background: linear-gradient(90deg, #F741BB 0%, #5A6FF4 100%); */
    width: fit-content;
    top: 0;
    right: 10px;
    position: absolute;
    z-index: 0;
}

.hero_first_div {
    position: relative;
    z-index: 2;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 0rem 3rem;
}

.hero_headline {
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: left;
    color: #fff;
    /* background: #FFFFFF;
    padding: 10px;
    margin-top: -12px;
    margin-left: -12px; */
}

.border_style{
    padding:12px;
    background-color: #F4238D;
}

.hero_heading {
    font-family: Plus Jakarta Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 60.48px;
    text-align: left;
    color: #ffffff;
}

.hero_summary {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.68px;
    text-align: left;
    color: #c8c7d3;
}

.event_headline {
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.64px;
    text-align: left;
    color: #c8c7d3;
    display: flex;
    flex-direction: column;
}

.event_heading {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.68px;
    text-align: left;
    color: #fff;
}

.event_location {
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.64px;
    text-align: left;
    color: #c8c7d3;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.event_date {
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.64px;
    text-align: left;
    color: #c8c7d3;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.upcoming_details {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}

.upcoming_events {
    backdrop-filter: blur(20px);
    border: 1px solid;
    border-image-source: linear-gradient(
        134.72deg,
        rgba(255, 255, 255, 0.5) -1.24%,
        rgba(255, 255, 255, 0.3) 100.74%
    );
    background: linear-gradient(
        134.86deg,
        rgba(113, 113, 113, 0.45) 0.99%,
        rgba(255, 255, 255, 0.2) 99.01%
    );
    border-radius: 15px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.horizontal_line_event {
    border: 1px solid #c8c7d3;
}

.hero_register_btn {
    background: linear-gradient(90deg, #f741bb 0%, #5a6ff4 100%);
    padding: 10px 30px;
    border: 1px solid transparent;
    border-radius: 20px;
    color: #fff;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.16px;
    text-align: left;
    text-decoration: none;
}

.hero_register_btn:hover {
    color: #fff;
    text-decoration: none;
}

@media screen and (width <= 600px) {
    .hero_section_wrapper {
        background-image: url("../images/Previouspage/mobprevbg.png");
        background-size: cover;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        padding: 8rem 0rem;
        height: 100vh !important;
    }

    .hero_speaker_image {
        display: none;
    }

    .hero_first_div {
        width: 100%;
        padding: 1rem;
        gap: 1rem;
    }

    .hero_second_div {
        display: flex;
        width: 100%;
        align-items: flex-end;
    }

    .hero_mobile_img {
        background: linear-gradient(150deg, #f741bb 0%, #5a6ff4 100%);
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        width: fit-content;
        margin-left: auto;
    }

    .hero_headline {
        font-family: Plus Jakarta Sans;
        font-size: 20px;
        font-weight: 700;
        line-height: 25.2px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #fff;
    }

    .hero_heading {
        font-family: Plus Jakarta Sans;
        font-size: 32px;
        font-weight: 700;
        line-height: 40.32px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #ffffff;
    }

    .event_location,
    .event_date {
        font-family: Plus Jakarta Sans;
        font-size: 18px;
        font-weight: 600;
        line-height: 22.68px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #c8c7d3;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .hero_summary {
        font-family: Plus Jakarta Sans;
        font-size: 18px;
        font-weight: 400;
        line-height: 22.68px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        width: 80%;
        color: #c8c7d3;
    }

    .hero_register_btn {
        width: 100%;
        border-radius: 46px;
        text-align: center;
    }

    .hero_btn_wrapper {
        width: 100%;
    }
}

/* Previous Events Timeline */

.previous_events_wrapper {
    padding: 3rem 0rem;
}

.prev_eve_header {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    gap: 10px;
}

.heading_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.horizontal_line_prev_eve {
    border: 1px solid #cfcdcd;
}

.prev_eve_heading {
    font-family: Plus Jakarta Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 45.36px;
    text-align: left;
    background-clip: text;
    background-image: linear-gradient(90deg, #f741bb 0%, #5a6ff4 100%);
    -webkit-text-fill-color: transparent;
}

.prev_eve_date {
    border: 1px solid #cfcdcd;
    padding: 10px 25px;
    border-radius: 40px;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.16px;
    text-align: left;
    color: #1c1826;
    background-color: transparent;
}

.tmln_heading {
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 30.24px;
    text-align: left;
    background-clip: text;
    background-image: linear-gradient(90deg, #f741bb 0%, #5a6ff4 100%);
    -webkit-text-fill-color: transparent;
}

.tmln_summary {
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25.2px;
    text-align: left;
    color: #1c1826;
    width: 80%;
}

.sec_tmln_summary {
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25.2px;
    text-align: left;
    color: #fff;
    width: 80%;
}

.prev_learn_more_btn {
    background: linear-gradient(90deg, #f741bb 0%, #5a6ff4 100%);
    padding: 10px 30px;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.16px;
    text-align: left;
    color: #ffffff;
    border: none;
    border-radius: 40px;
    width: fit-content;
    text-decoration: none;
}

.prev_learn_more_btn:hover {
    color: #ffffff;
    text-decoration: none;
}

.img_wrapper {
    border: 3px solid;
    border-image: linear-gradient(90deg, #f741bb 0%, #5a6ff4 100%) 1;
    width: fit-content;
    padding: 10px;
    position: relative;
}

.image_content_tmln {
    position: absolute;
    padding: 10px;
}

.image_summary_tmln {
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25.76px;
    text-align: left;
    color: #ffffff;
}

.first_timeline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 8rem;
    position: relative;
}

.second_timeline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 8rem;
    position: relative;
    height: 100%;
    background-image: url(../images/Previouspage/tmlnbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.timeline_content {
    width: 47%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.sec_timeline_content {
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.prev_eve_timeline_wrapper {
    position: relative;
}

.prev_eve_timeline_wrapper::before {
    content: "";
    position: absolute;
    left: 50%;
    height: 83.5%;
    top: 3%;
    border: 2px solid #f4238d;
    z-index: 5;
}

.timeline_img::before {
    content: "";
    height: 20px;
    width: 20px;
    background-color: #f4238d;
    top: 16%;
    border: none;
    border-radius: 50%;
    position: absolute;
    left: 49.45%;
}

.timeline_img::after {
    content: attr(data-after-content);
    color: #f4238d;
    border: none;
    position: absolute;
    right: 51%;
    top: 16%;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 20.16px;
    text-align: left;
}

.sec_timeline_img::after {
    content: attr(data-after-content);
    color: #f4238d;
    border: none;
    position: absolute;
    left: 51%;
    top: 26%;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 20.16px;
    text-align: left;
}

.sec_timeline_img::before {
    content: "";
    height: 20px;
    width: 20px;
    background-color: #f4238d;
    border: none;
    top: 26%;
    border-radius: 50%;
    position: absolute;
    left: 49.45%;
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 40px;
    width: 10%;
    margin: auto;
}

.mobile_date {
    display: none;
    color: #f4238d;
    border: none;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.16px;
    text-align: left;
}

@media screen and (width <= 600px) {
    .first_timeline {
        flex-direction: column;
        padding: 2rem 0rem;
    }

    .second_timeline {
        flex-direction: column-reverse;
        padding: 2rem 0rem;
    }

    .timeline_content,
    .sec_timeline_content {
        padding: 1.5rem 3rem;
        width: 100%;
        margin-bottom: 80px;
    }

    .tmln_summary,
    .sec_tmln_summary {
        width: 100%;
    }

    .prev_eve_timeline_wrapper::before {
        border: none;
    }

    .timeline_img::after,
    .sec_timeline_img::after {
        bottom: 0%;
        top: 0%;
        left: 0%;
        right: 0%;
        content: "";
    }

    .timeline_img::before,
    .sec_timeline_img::before {
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 0%;
        content: none;
    }

    .img_wrapper {
        width: 90%;
    }

    .img_wrapper img {
        width: 100%;
        margin-left: -10px !important;
    }

    .timeline_img,
    .sec_timeline_img {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 40px;
    }

    .mobile_date {
        display: block;
    }
}

/* Sponsors and Partners */

.sponsors_wrapper {
    width: 60%;
    margin: auto;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sponsors_heading {
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.32px;
    text-align: center;
    background-clip: text;
    background-image: linear-gradient(90deg, #f741bb 0%, #5a6ff4 100%);
    -webkit-text-fill-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sponsor_summary {
    width: 70%;
    margin: auto;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.68px;
    text-align: center;
    color: #717380;
}

.sponsors_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    gap: 40px;
}

/* Mob Sponsors */

@media screen and (width <= 600px) {
    .sponsors_logo {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    .sponsors_wrapper {
        width: 100%;
    }

    .sponsor_summary {
        width: 100%;
    }
}
