@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:wght@200;300;400;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('./Header.css');
@import url('./Footer.css');

/* Hero Section */

.hero_section_wrapper{
    background-image: url('../images/Homepage/hero_2.png');
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 10px 80px;
}

.hero_second_div{
    margin-top: auto;
    margin-bottom: 30px;
}

.hero_speaker_image{
    /* background: linear-gradient(90deg, #F741BB 0%, #5A6FF4 100%); */
    width: fit-content;
    top: 0;
    right: 10px;
    position: absolute;
    z-index: 0;
}

.hero_first_div{
    position: relative;
    z-index: 2;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.hero_headline{
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 58.51px;
    text-align: left;
    color: #F4238D;
    background: #FFFFFF;
    padding: 10px;
    margin-top: -12px;
    margin-left: -12px;
}

.border_style{
    border-bottom: 3px solid #F4238D;
    border-right: 3px solid #F4238D;
    padding-right: 12px;
    padding-bottom: 12px;
}

.hero_heading{
    font-family: Plus Jakarta Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 60.48px;
    text-align: left;
    color: #FFFFFF;

}

.hero_summary{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.68px;
    text-align: left;
    color: #C8C7D3;

}

.event_headline{
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.64px;
    text-align: left;
    color: #C8C7D3;
    display: flex;
    flex-direction: column;
}

.event_heading{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.68px;
    text-align: left;
    color: #fff;
}

.event_location{
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.64px;
    text-align: left;
    color: #C8C7D3;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.event_date{
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.64px;
    text-align: left;
    color: #C8C7D3;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.upcoming_details{
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}

.upcoming_events{
    backdrop-filter: blur(20px);
    border: 1px solid;
    border-image-source: linear-gradient(134.72deg, rgba(255, 255, 255, 0.5) -1.24%, rgba(255, 255, 255, 0.3) 100.74%);
    background: linear-gradient(134.86deg, rgba(113, 113, 113, 0.45) 0.99%, rgba(255, 255, 255, 0.2) 99.01%);
    border-radius: 15px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.horizontal_line_event{
    border: 1px solid #C8C7D3
}

.hero_register_btn{
    background: linear-gradient(90deg, #F741BB 0%, #5A6FF4 100%);
    padding: 10px 30px;
    border: 1px solid transparent;
    border-radius: 20px;
    color: #fff;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.16px;
    text-align: left;

}

/* About the Conference */

.about_the_cenference{
    position: relative;
    height: 100vh;
}

.about_conference_wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: auto;
    padding: 4rem;
    gap: 10px;
    background-image: url('../images/Homepage/Group 4.png');
    background-repeat: no-repeat;
    background-position: right;
}

.conference_images{
    display: flex;
    flex-direction: row;
    gap: 40px;
    background-image: url('../images/Homepage/Group 4.png');
    background-repeat: no-repeat;
    background-position: right;
    width: 65%;
}

.first_set{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.second_set{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px;
}

.about_conference_heading{
    font-family: Plus Jakarta Sans;
font-size: 20px;
font-weight: 700;
line-height: 25.2px;
text-align: left;
color: #F4238D;

}

.conference_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.images_description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 70px 0px;
    gap: 40px;
    width: 60%;
    background-image: url('../images/Homepage/Group 4.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

.desc_heading{
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.32px;
    text-align: left;
    background-clip: text;
    background-image: linear-gradient(90deg, #F741BB 0%, #5A6FF4 100%);
    -webkit-text-fill-color: transparent;
}

.desc_summary{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.68px;
    text-align: left;
    color: #001023;

}

.register_btn{
    background: linear-gradient(90deg, #F741BB 0%, #5A6FF4 100%);
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.16px;
    text-align: left;
    color: #FFFFFF;
    padding: 10px 40px;
    border: 1px solid transparent;
    border-radius: 20px;
}

/* Why Attend? */



.why_attend_sectin{
    background-color: #170548;
    padding: 4rem 1rem;
}

.why_attend_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    width: 80%;
    margin: auto;
}

.attend_content_part{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
}

.attend_accordion{
    width: 80%;
}


.accordion-button[aria-expanded="false"]{
    background-color: #170548!important;
    color: #fff!important;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25.2px;
    text-align: left;
    border: 1px solid #5A6FF4!important;
    border-radius: 15px!important;
    transition: none!important;
}

.accordion-button[aria-expanded="true"]{
    background-color: #fff!important;
    color: #000!important;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25.2px;
    text-align: left;
    border: none!important;
    border-radius: 15px!important;
    transition: none!important;
}



.accordion-button::after{
    background-image: url('../images/Detailspage/arrow.png')!important;
    height: 0.7rem!important;
}

.why_attend_headline{
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.32px;
    text-align: left;
    background-clip: text;
    background-image: linear-gradient(90deg, #F741BB 0%, #5A6FF4 100%);
    -webkit-text-fill-color: transparent;
}

.accordion-item{
    margin-bottom: 1rem;
    border: 2px solid #5A6FF4!important;
    border-radius: 17px!important;

}


/* Event Highlights */


.event_high_wrapper{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding: 3rem 1rem;
}

.event_top_part{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.highlights_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 4px 36.2px 0px #00000026;
    border-radius: 15px;
    background-color: #fff;
}


.highlight_active{
    background: linear-gradient(90deg, #F741BB 0%, #5A6FF4 100%);
    color: #fff!important;
}

.event_bottom_part{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5rem;
}

.event_high_content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
}

.event_highlights_heading{
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.32px;
    text-align: left;
    background-clip: text;
    background-image: linear-gradient(90deg, #F741BB 0%, #5A6FF4 100%);
    -webkit-text-fill-color: transparent;
}

.highlights{
    border: none;
    border-right: 1px solid #DBDBDB;
    background-color: #fff;
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: center;
    padding: 30px 20px;
}

.event_note{
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.32px;
    text-align: left;
    color: #000;
}

.event_note_summary{
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25.2px;
    text-align: left;
    color: #000;
}


/* Schedule and Events */

/* .schedule_container{
    width: 70%;
    margin-left: auto;
    color: #000;
    font-weight: bold;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.schedule_wrapper::after{
    content: '';
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 1;
    border: 3px solid #D6D6D8;
}

.schedule_container::before{
    content: '';
    position: absolute;
    left: 49.2%;
    width: 28px;
    height: 28px;
    color: #FFFFFF;
    text-align: center;
    background-color: #5975F7;
    border-radius: 50%;
    z-index: 4;
} */


.schedule_section{
    background-color: #EFF1FD;

}

.schedule_wrapper{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    gap: 4rem;
    padding-top: 4rem;
}

.schedule_heading_div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 26%;
}

.timeline_div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.schedule_days{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.day_1,.day_2,.day_3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.schedule_horiz_line{
    background-color:#D6D6D8 ;
}

.small_horiz_line{
    border: 3px solid #5975F7;
    width: 30%;
}

.timeline_wrapper{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;
    margin: 20px 0px;
}

.timeline_wrapper::after{
    content: '';
    height: 82%;
    position: absolute;
    left: 30%;
    top: 10px;
    z-index: 1;
    border: 3px solid #D6D6D8;
}

.timeline_1,.timeline_2,.timeline_3,.timeline_4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.timeline_1::before{
    content: '1';
    position: absolute;
    left: 28.6%;
    width: 28px;
    height: 28px;
    color: #FFFFFF;
    text-align: center;
    background-color: #5975F7;
    border-radius: 50%;
    z-index: 4;
}

.timeline_2::before{
    content: '2';
    position: absolute;
    left: 28.6%;
    width: 28px;
    height: 28px;
    color: #FFFFFF;
    text-align: center;
    background-color: #5975F7;
    border-radius: 50%;
    z-index: 4;
}

.timeline_3::before{
    content: '3';
    position: absolute;
    left: 28.6%;
    width: 28px;
    height: 28px;
    color: #FFFFFF;
    text-align: center;
    background-color: #5975F7;
    border-radius: 50%;
    z-index: 4;
}

.timeline_4::before{
    content: '4';
    position: absolute;
    left: 28.6%;
    width: 28px;
    height: 28px;
    color: #FFFFFF;
    text-align: center;
    background-color: #5975F7;
    border-radius: 50%;
    z-index: 4;
}

.schedule_heading{
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.32px;
    text-align: left;
    background-clip: text;
    background-image: linear-gradient(90deg, #5A6FF4 0%, #F741BB 81.86%);
    -webkit-text-fill-color: transparent;
}

.schedule_summary{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.68px;
    text-align: left;
    color: #717380;
}

.schedule_day{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.68px;
    text-align: left;
    background-clip: text;
    background-image: linear-gradient(90deg, #F741BB 0%, #5A6FF4 100%);
    -webkit-text-fill-color: transparent;
}

.schedule_date{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.68px;
    text-align: left;
    color: #717380;
}

.span_date{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.68px;
    text-align: left;
    color: #717380;
}


.eve_time{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.68px;
    text-align: left;
    color: #717380;
}

.sch_title{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.68px;
    text-align: left;
    color: #717380;
}

.sch_summary{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.68px;
    text-align: left;
    color: #717380;
    width: 80%;
}

.schedule_titles{
    width: 60%;
}



/* Events booking */

.event_booking{
    background: #EFF1FD;
}

.event_booking_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 2rem 0rem;
}

.headline_content{
    padding: 20px 10px;
}

.early_bird{
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.32px;
    text-align: center;
    background-clip: text;
    background-image: linear-gradient(90deg, #5A6FF4 0%, #F741BB 81.86%);
    -webkit-text-fill-color: transparent;
}

.early_bird_summary{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.68px;
    text-align: center;
    color: #717380;
    width: 70%;
    margin: auto;
}

.remaining_days{
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: center;
    color: #F4238D;

}

.booking_slots{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px ;
    gap: 6rem;
    margin: auto;
}

.individual{
    border-radius: 15px;
    background: #7750E7;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;

}

.group_booking{
    border-radius: 15px;
    background: #FFFFFF;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    border: 1px solid;
    border-image-source: linear-gradient(90deg, #F741BB 0%, #5A6FF4 100%);
}

.title_tag{
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.16px;
    text-align: left;
    color: #FFFFFF;
    background: #E946C1;
    padding: 10px 20px;
    border-radius: 20px;
}

.group_title_tag{
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.16px;
    text-align: left;
    color: #7750E7;
    background: #E7E1FA;
    padding: 10px 20px;
    border-radius: 20px;
}

.price{
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 45.36px;
    text-align: left;
    color: #fff;
}

.group_price{
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 45.36px;
    text-align: left;
    color: #1C1826;

}



.buy_ticket{
    background: #FFFFFF;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.16px;
    text-align: left;
    color: #7750E7;
    padding: 10px 40px;
    border-radius: 12px;
    border: 1px solid transparent;
    margin-top: 20px;
    margin-bottom: 10px;
}

.buy_ticket_btn{
    border: 1px solid #5A6FF4;
    color: #5A6FF4;
    background-color: transparent;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.16px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 40px;
    border-radius: 12px;
}


/* Event Reviews */

.clients_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 4rem 0px;
}

.client_details{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.review_content{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

/* p{
    margin-bottom: 0!important;
} */

.controls_reviews{
    margin-top: 2rem;
}

.bottom_part{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.combine_client{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.event_reviews{
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.32px;
    text-align: left;
    background-clip: text;
    background-image: linear-gradient(90deg, #5A6FF4 0%, #F741BB 81.86%);
    -webkit-text-fill-color: transparent;
}

.review_headline{
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 30.91px;
    text-align: left;
    color: #1C1826;
}

.review_summary{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.68px;
    text-align: left;
    color: #1C1826;
    width: 80%;
}

.client_name{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.68px;
    text-align: left;
    color: #1C1826;
    margin-bottom: 0!important;
}

.client_designation{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.68px;
    text-align: left;
    color: #1C1826;
    margin-bottom: 0!important;
}

/* Footer */

.first_div{
    width: 60%;
}
