@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:wght@200;300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:wght@200;300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:wght@200;300;400;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Pacifico&display=swap");
@import url("./Header.css");
@import url("./Footer.css");

/* Hero Section */

.hero_section_wrapper {
    background-image: url("../images/Homepage/hero_2.png");
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 85vh;
    padding: 10px 80px;
}

.hero_second_div {
    margin-top: auto;
    margin-bottom: 30px;
}

.hero_speaker_image {
    /* background: linear-gradient(90deg, #F741BB 0%, #5A6FF4 100%); */
    width: fit-content;
    top: 0;
    right: 10px;
    position: absolute;
    z-index: 0;
}

.hero_first_div {
    position: relative;
    z-index: 2;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 0rem 4rem;
}

.hero_headline {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 58.51px;
    text-align: left;
    color: #f4238d;
    background: #ffffff;
    padding: 10px;
    margin-top: -12px;
    margin-right: -12px;
}

.hero_headline_span {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.border_style {
    border-bottom: 3px solid #f4238d;
    border-left: 3px solid #f4238d;
    padding-left: 12px;
    padding-bottom: 12px;
}

.hero_heading {
    font-family: Plus Jakarta Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 50.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
}

.hero_summary {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.68px;
    text-align: left;
    color: #c8c7d3;
    width: 80%;
}

.shine {
    background: linear-gradient(to right, #f741bb, #5a6ff4);
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s linear infinite;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}

.event_headline {
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.64px;
    text-align: left;
    color: #c8c7d3;
    display: flex;
    flex-direction: column;
}

.event_heading {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.68px;
    text-align: left;
    color: #fff;
}

.event_location {
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.64px;
    text-align: left;
    color: #c8c7d3;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    display: none;
}

.event_date {
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.64px;
    text-align: left;
    color: #c8c7d3;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    display: none;
}

.upcoming_details {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}

.upcoming_events {
    backdrop-filter: blur(20px);
    border: 1px solid;
    border-image-source: linear-gradient(
        134.72deg,
        rgba(255, 255, 255, 0.5) -1.24%,
        rgba(255, 255, 255, 0.3) 100.74%
    );
    background: linear-gradient(
        134.86deg,
        rgba(113, 113, 113, 0.45) 0.99%,
        rgba(255, 255, 255, 0.2) 99.01%
    );
    border-radius: 15px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.horizontal_line_event {
    border: 1px solid #c8c7d3;
}

.hero_register_btn {
    background: linear-gradient(90deg, #f741bb 0%, #5a6ff4 100%);
    padding: 10px 30px;
    border: none;
    border-radius: 40px;
    color: #fff;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.16px;
    text-align: left;
    text-decoration: none;
}

.hero_register_btn:hover {
    color: #fff;
    text-decoration: none;
}

/* About the Conference */

.about_the_cenference {
    position: relative;
}

.about_conference_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: auto;
    padding: 4rem;
    gap: 10px;
    background-image: url("../images/Homepage/Group 4.png");
    background-repeat: no-repeat;
    background-position: right;
}

.conference_images {
    display: flex;
    flex-direction: row;
    gap: 40px;
    background-image: url("../images/Homepage/Group 4.png");
    background-repeat: no-repeat;
    background-position: right;
    width: 65%;
    padding: 0rem 3.6rem;
}

.first_set {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.second_set {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px;
}

.about_conference_heading {
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: left;
    color: #f4238d;
}

.rahulimg {
    display: inline-block;
}

.mobrahulimg {
    display: none;
}

.conference_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
}

.images_description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 70px 0px;
    gap: 1rem;
    width: 50%;
    background-image: url("../images/Homepage/Group 4.png");
    background-repeat: no-repeat;
    background-position: bottom;
}

.desc_heading {
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.32px;
    text-align: left;
    background-clip: text;
    background-image: linear-gradient(90deg, #f741bb 0%, #5a6ff4 100%);
    -webkit-text-fill-color: transparent;
}

.desc_summary {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.68px;
    text-align: left;
    color: #001023;
    width: 80%;
}

.register_btn {
    background: linear-gradient(90deg, #f741bb 0%, #5a6ff4 100%);
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.16px;
    text-align: left;
    color: #ffffff;
    padding: 10px 40px;
    border: 1px solid transparent;
    border-radius: 20px;
    text-decoration: none;
}

.register_btn:hover {
    color: #fff;
    text-decoration: none;
}

/* Why Attend? */

.why_attend_sectin {
    background-color: #170548;
    padding: 4rem 1rem;
}

.why_attend_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    width: 80%;
    margin: auto;
}

.attend_content_part {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 45%;
}

.attend_accordion {
    width: 73%;
}

.accordion-button[aria-expanded="false"] {
    background-color: #170548 !important;
    color: #fff !important;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25.2px;
    text-align: left;
    border: 1px solid #5a6ff4 !important;
    border-radius: 15px !important;
    transition: none !important;
}

.accordion-button[aria-expanded="true"] {
    background-color: #fff !important;
    color: #000 !important;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25.2px;
    text-align: left;
    border: none !important;
    border-radius: 15px !important;
    transition: none !important;
}

.accordion-body {
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
}

.accordion-button::after {
    background-image: url("../images/Detailspage/arrow.png") !important;
    height: 0.7rem !important;
}

.why_attend_headline {
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.32px;
    text-align: left;
    background-clip: text;
    background-image: linear-gradient(90deg, #f741bb 0%, #5a6ff4 100%);
    -webkit-text-fill-color: transparent;
}

.accordion-item {
    margin-bottom: 1rem;
    border: 2px solid #5a6ff4 !important;
    border-radius: 17px !important;
}

/* Event Highlights */

.event_high_wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding: 3rem 1rem;
}

.event_top_part {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.highlights_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 4px 36.2px 0px #00000026;
    border-radius: 15px;
    background-color: #fff;
}

.highlight_active {
    background: linear-gradient(90deg, #f741bb 0%, #5a6ff4 100%);
    color: #fff !important;
}

.event_bottom_part {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5rem;
}

.event_high_content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
}

.event_highlights_heading {
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.32px;
    text-align: left;
    background-clip: text;
    background-image: linear-gradient(90deg, #f741bb 0%, #5a6ff4 100%);
    -webkit-text-fill-color: transparent;
}

.highlights {
    border: none;
    border-right: 1px solid #dbdbdb;
    background-color: #fff;
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: center;
    padding: 30px 20px;
}

.event_note {
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.32px;
    text-align: left;
    color: #000;
}

.event_note_summary {
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25.2px;
    text-align: left;
    color: #000;
}

/* Schedule and Events Timeline */

/* .schedule_container{
    width: 70%;
    margin-left: auto;
    color: #000;
    font-weight: bold;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.schedule_wrapper::after{
    content: '';
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 1;
    border: 3px solid #D6D6D8;
}

.schedule_container::before{
    content: '';
    position: absolute;
    left: 49.2%;
    width: 28px;
    height: 28px;
    color: #FFFFFF;
    text-align: center;
    background-color: #5975F7;
    border-radius: 50%;
    z-index: 4;
} */

.schedule_section {
    background-color: #eff1fd;
}

.schedule_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 76%;
    margin: auto;
    gap: 4rem;
    padding-top: 2rem;
}

.schedule_heading_div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
}

.timeline_div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    padding: 2rem 0rem;
}

.schedule_days {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin-left: 2rem;
}

.day_1,
.day_2,
.day_3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    margin: auto;
}

.schedule_horiz_line {
    background-color: #d6d6d8;
}

.small_horiz_line {
    border: 3px solid #5975f7;
    width: 30%;
}

.timeline_wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;
    margin: 20px 0px;
}

.timeline_wrapper::after {
    content: "";
    height: 93%;
    position: absolute;
    left: 30%;
    top: 10px;
    z-index: 1;
    border: 3px solid #d6d6d8;
}

.timeline_1,
.timeline_2,
.timeline_3,
.timeline_4,
.timeline_5,
.timeline_6,
.timeline_7,
.timeline_8,
.timeline_9 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.timeline_1::before {
    content: "1";
    position: absolute;
    left: 28.5%;
    width: 28px;
    height: 28px;
    color: #ffffff;
    text-align: center;
    background-color: #5975f7;
    border-radius: 50%;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline_2::before {
    content: "2";
    position: absolute;
    left: 28.5%;
    width: 28px;
    height: 28px;
    color: #ffffff;
    text-align: center;
    background-color: #5975f7;
    border-radius: 50%;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline_3::before {
    content: "3";
    position: absolute;
    left: 28.5%;
    width: 28px;
    height: 28px;
    color: #ffffff;
    text-align: center;
    background-color: #5975f7;
    border-radius: 50%;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline_4::before {
    content: "4";
    position: absolute;
    left: 28.5%;
    width: 28px;
    height: 28px;
    color: #ffffff;
    text-align: center;
    background-color: #5975f7;
    border-radius: 50%;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline_5::before {
    content: "5";
    position: absolute;
    left: 28.5%;
    width: 28px;
    height: 28px;
    color: #ffffff;
    text-align: center;
    background-color: #5975f7;
    border-radius: 50%;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline_6::before {
    content: "6";
    position: absolute;
    left: 28.5%;
    width: 28px;
    height: 28px;
    color: #ffffff;
    text-align: center;
    background-color: #5975f7;
    border-radius: 50%;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline_7::before {
    content: "7";
    position: absolute;
    left: 28.5%;
    width: 28px;
    height: 28px;
    color: #ffffff;
    text-align: center;
    background-color: #5975f7;
    border-radius: 50%;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline_8::before {
    content: "8";
    position: absolute;
    left: 28.5%;
    width: 28px;
    height: 28px;
    color: #ffffff;
    text-align: center;
    background-color: #5975f7;
    border-radius: 50%;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline_9::before {
    content: "9";
    position: absolute;
    left: 28.5%;
    width: 28px;
    height: 28px;
    color: #ffffff;
    text-align: center;
    background-color: #5975f7;
    border-radius: 50%;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.schedule_heading {
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.32px;
    text-align: left;
    background-clip: text;
    background-image: linear-gradient(90deg, #5a6ff4 0%, #f741bb 81.86%);
    -webkit-text-fill-color: transparent;
}

.grad_text{
    background-clip: text;
    background-image: linear-gradient(90deg, #5a6ff4 0%, #f741bb 81.86%);
    -webkit-text-fill-color: transparent;
}

.schedule_summary {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.68px;
    text-align: left;
    color: #717380;
    width: 90%;
}

.schedule_day {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.68px;
    text-align: left;
    background-clip: text;
    background-image: linear-gradient(90deg, #f741bb 0%, #5a6ff4 100%);
    -webkit-text-fill-color: transparent;
}

.schedule_date {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.68px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background-clip: text;
    background-image: linear-gradient(90deg, #f741bb 0%, #5a6ff4 100%);
    -webkit-text-fill-color: transparent;
    border-bottom: 3px solid #5975f7;
    padding: 0.5rem 0rem;
}

.span_date {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.68px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #717380;
}

.eve_time {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.68px;
    text-align: left;
    color: #717380;
}

.sch_title {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.68px;
    text-align: left;
    color: #717380;
}

.sch_summary {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.68px;
    text-align: left;
    color: #717380;
}

.schedule_titles {
    width: 60%;
}

/* Events booking */

.event_booking {
    background: #eff1fd;
}

.event_booking_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 2rem 0rem;
}

.headline_content {
    padding: 20px 10px;
}

.early_bird {
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.32px;
    text-align: center;
    background-clip: text;
    background-image: linear-gradient(90deg, #5a6ff4 0%, #f741bb 81.86%);
    -webkit-text-fill-color: transparent;
}

.early_bird_summary {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.68px;
    text-align: center;
    color: #717380;
    width: 70%;
    margin: auto;
}

.remaining_days {
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: center;
    color: #f4238d;
    animation: colorChange 2000ms infinite;
}

@keyframes colorChange {
    0% {
        color: #f4238d;
    }

    65% {
        color: #14063b;
    }
}

.booking_slots {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    padding: 20px;
    gap: 4rem;
    width: 100%;
}

.individual {
    border-radius: 15px;
    background: #7750e7;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    width: 250px;
}

.group_booking {
    border-radius: 15px;
    background: #ffffff;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    width: 250px;
    /* border: 1px solid ; */
    /* border-image: linear-gradient(90deg, #F741BB 0%, #5A6FF4 100%) 1; */
}

.corp_booking {
    border-radius: 15px;
    background: #ffffff;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 250px;
    /* border: 1px solid; */
    /* border-image: linear-gradient(90deg, #F741BB 0%, #5A6FF4 100%) 1; */
}

.title_tag {
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.16px;
    text-align: left;
    color: #ffffff;
    background: #e946c1;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
}

.group_title_tag {
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.16px;
    text-align: center;
    color: #7750e7;
    background: #e7e1fa;
    padding: 10px 20px;
    border-radius: 20px;
    width: 100%;
}

.corp_title_tag {
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.16px;
    text-align: center;
    color: #fff;
    background: #ff9650;
    padding: 10px 20px;
    border-radius: 20px;
    width: 100%;
}

.price {
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
}

.group_price {
    font-family: Plus Jakarta Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 60.48px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-align: left;
    color: #1c1826;
}

.corp_price {
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #505050;
}

.buy_ticket {
    background: #ffffff;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.16px;
    text-align: left;
    color: #7750e7;
    padding: 15px 20px;
    border-radius: 15px;
    border: 1px solid transparent;
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: none;
}

.buy_ticket:hover {
    color: #7750e7;
    text-decoration: none;
}

.buy_ticket_btn {
    border: none;
    color: #fff;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.16px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 15px 20px;
    border-radius: 15px;
    background: linear-gradient(90deg, #f741bb 0%, #5a6ff4 100%);
    text-decoration: none;
}

.buy_ticket_btn:hover {
    color: #fff;
    text-decoration: none;
}

/* Event Reviews */

.clients_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 4rem 0px;
}

.client_details {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.review_content {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.bottom_part {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.controls_reviews {
    display: flex;
    flex-direction: row;
    gap: 14px;
    padding: 2rem 0rem;
}

.controls_reviews > img:hover {
    cursor: pointer;
}

.combine_client {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.event_reviews {
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.32px;
    text-align: left;
    background-clip: text;
    background-image: linear-gradient(90deg, #5a6ff4 0%, #f741bb 81.86%);
    -webkit-text-fill-color: transparent;
}

.review_headline {
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 30.91px;
    text-align: left;
    color: #1c1826;
}

.review_summary {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.68px;
    text-align: left;
    color: #1c1826;
    width: 80%;
}

.client_name {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.68px;
    text-align: left;
    color: #1c1826;
    margin-bottom: 0px;
}

.client_designation {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.68px;
    text-align: left;
    color: #1c1826;
    margin-bottom: 6px;
}

/* Mobile Responsive */

@media screen and (width <= 600px) {
    .hero_section_wrapper {
        background-image: url("../images/Detailspage/mobherobg.png");
        background-size: cover;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        padding: 4rem 0rem;
        height: 100% !important;
    }

    .hero_speaker_image {
        display: none;
    }

    .hero_first_div {
        width: 100%;
        padding: 1rem;
    }

    .hero_second_div {
        display: flex;
        width: 100%;
        align-items: flex-end;
    }

    .hero_mobile_img {
        background: linear-gradient(150deg, #f741bb 0%, #5a6ff4 100%);
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        width: fit-content;
        margin-left: auto;
    }

    .hero_headline {
        font-family: Montserrat;
        font-size: 36px;
        font-weight: 700;
        line-height: 43.88px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #f4238d;
    }

    .hero_heading {
        font-family: Plus Jakarta Sans;
        font-size: 32px;
        font-weight: 700;
        line-height: 40.32px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #ffffff;
    }

    .event_location,
    .event_date {
        font-family: Plus Jakarta Sans;
        font-size: 18px;
        font-weight: 600;
        line-height: 22.68px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #c8c7d3;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .hero_summary {
        font-family: Plus Jakarta Sans;
        font-size: 18px;
        font-weight: 400;
        line-height: 22.68px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        width: 80%;
        color: #c8c7d3;
    }

    .hero_register_btn {
        width: 100%;
        border-radius: 46px;
        text-align: center;
    }

    .hero_btn_wrapper {
        width: 100%;
    }

    /* About The Conference */

    .about_conference_wrapper {
        width: 100%;
        padding: 1rem;
        background-image: none;
    }

    .conference_content {
        flex-direction: column;
        background-image: none;
        width: 100%;
    }

    .images_description {
        width: 100%;
        background-image: none;
    }

    .conference_images {
        width: 100%;
        background-image: none;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobrahulimg {
        display: block;
    }

    .rahulimg {
        display: none;
    }

    .register_btn {
        width: 100%;
        text-align: center;
    }

    /* Why Attend */

    .why_attend_wrapper {
        flex-direction: column;
        width: 100%;
        padding: 0rem 1rem;
    }

    .attend_accordion {
        width: 100%;
    }

    .attend_content_part {
        width: 100%;
    }

    .attend_image > img {
        display: none;
    }

    .why_attend_headline {
        text-align: center;
    }

    /* Event Booking */

    .event_booking_wrapper {
        width: 100%;
    }

    .early_bird_summary {
        width: 80%;
    }

    .booking_slots {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    /* Schedule Timeline */

    .schedule_wrapper {
        width: 100%;
        flex-direction: column;
        gap: 0rem;
    }

    .schedule_heading_div {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .schedule_heading {
        font-family: Plus Jakarta Sans;
        font-size: 24px;
        font-weight: 700;
        line-height: 30.24px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    .schedule_summary {
        font-family: Plus Jakarta Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 20.16px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #717380;
        width: 80%;
    }

    .timeline_div {
        width: 100%;
    }

    .schedule_days {
        width: 100%;
        margin-left: 0;
    }

    .timeline_wrapper {
        gap: 2rem;
        padding: 0rem 1.2rem;
    }

    .schedule_titles {
        width: 50%;
    }

    .timeline_wrapper::after {
        left: 42%;
        height: 92%;
    }

    .timeline_1::before,
    .timeline_2::before,
    .timeline_3::before,
    .timeline_4::before,
    .timeline_5::before,
    .timeline_6::before,
    .timeline_7::before,
    .timeline_8::before,
    .timeline_9::before {
        left: 39.9%;
    }

    .eve_time,
    .sch_title,
    .sch_summary {
        font-size: 14px;
    }

    /* Client Reviews */

    .clients_wrapper {
        flex-direction: column;
        width: 100%;
        padding: 2rem 1rem;
        gap: 1rem;
    }

    .client_details {
        width: 100%;
    }

    .client_eclipse {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .client_eclipse > img {
        width: 80%;
    }

    .event_reviews {
        font-family: Plus Jakarta Sans;
        font-size: 24px;
        font-weight: 700;
        line-height: 30.24px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    .review_headline {
        font-family: Plus Jakarta Sans;
        font-size: 18px;
        font-weight: 700;
        line-height: 23.18px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #1c1826;
    }

    .review_summary {
        font-family: Plus Jakarta Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 20.16px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #1c1826;
    }

    .client_name {
        font-family: Plus Jakarta Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 20.16px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #1c1826;
    }

    .client_designation {
        font-family: Plus Jakarta Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 20.16px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #1c1826;
    }
}
