@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:wght@200;300;400;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('./Header.css');
@import url('./Footer.css');


.hero_section_wrapper{
    background-image: url('../images/Upcomingpage/herobg.png');
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 10px 80px;
}

.hero_second_div{
    margin-top: auto;
    margin-bottom: 30px;
}

.hero_speaker_image{
    /* background: linear-gradient(90deg, #F741BB 0%, #5A6FF4 100%); */
    width: fit-content;
    top: 0;
    right: 10px;
    position: absolute;
    z-index: 0;
}

.hero_first_div{
    position: relative;
    z-index: 2;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.hero_headline{
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: left;
    color: #F4238D;
    /* background: #FFFFFF;
    padding: 10px;
    margin-top: -12px;
    margin-left: -12px; */
}

/* .border_style{
    border-bottom: 3px solid #F4238D;
    border-right: 3px solid #F4238D;
    padding-right: 12px;
    padding-bottom: 12px;
} */

.hero_heading{
    font-family: Plus Jakarta Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 60.48px;
    text-align: left;
    color: #FFFFFF;
}

.hero_summary{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.68px;
    text-align: left;
    color: #C8C7D3;

}


.event_headline{
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.64px;
    text-align: left;
    color: #C8C7D3;
    display: flex;
    flex-direction: column;
}

.event_heading{
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.68px;
    text-align: left;
    color: #fff;
}

.event_location{
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.64px;
    text-align: left;
    color: #C8C7D3;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.event_date{
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.64px;
    text-align: left;
    color: #C8C7D3;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.upcoming_details{
    display: flex;
    flex-direction: column;
}

.upcoming_events{
    backdrop-filter: blur(20px);
    border: 1px solid;
    border-image-source: linear-gradient(134.72deg, rgba(255, 255, 255, 0.5) -1.24%, rgba(255, 255, 255, 0.3) 100.74%);
    background: linear-gradient(134.86deg, rgba(113, 113, 113, 0.45) 0.99%, rgba(255, 255, 255, 0.2) 99.01%);
    border-radius: 15px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.horizontal_line_event{
    border: 1px solid #C8C7D3
}

.hero_register_btn{
    background: linear-gradient(90deg, #F741BB 0%, #5A6FF4 100%);
    padding: 10px 30px;
    border: 1px solid transparent;
    border-radius: 20px;
    color: #fff;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.16px;
    text-align: left;

}

/* Upcoming Notconfirmed Events Timeline */

.upcom_eve_wrapper{
    padding: 3rem 0rem;
}

.upcom_nocon_header{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    margin: auto;
}

.horiz_line_upcom_nocon_eve{
    border: 1px solid #CFCDCD;
}

.upcom_nocon_events{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.activee{
    background-clip: text;
    background-image: linear-gradient(90deg, #F741BB 0%, #5A6FF4 100%)!important;
    -webkit-text-fill-color: transparent;
}

.upcom_eve_btn{
    font-family: Plus Jakarta Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 45.36px;
    text-align: left;
    background-color: transparent;
    border: none;
    color: #CFCDCD;
}

.nocon_eve_btn{
    font-family: Plus Jakarta Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 45.36px;
    text-align: left;
    background-color: transparent;
    border: none;
    color: #CFCDCD;
}

.tmln_heading{
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 30.24px;
    text-align: left;
    background-clip: text;
    background-image:linear-gradient(90deg, #F741BB 0%, #5A6FF4 100%)    ;
    -webkit-text-fill-color: transparent;
}

.tmln_summary{
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25.2px;
    text-align: left;
    color: #1C1826;
}

.sec_tmln_summary{
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25.2px;
    text-align: left;
    color: #fff;
}

.prev_learn_more_btn{
    background: linear-gradient(90deg, #F741BB 0%, #5A6FF4 100%);
    padding: 10px 30px;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.16px;
    text-align: left;
    color: #FFFFFF;
    border: none;
    border-radius: 40px;
    width: fit-content;
}

.img_wrapper{
    border: 3px solid ;
    border-image:  linear-gradient(90deg, #F741BB 0%, #5A6FF4 100%)1;
    width: fit-content;
    padding: 10px;
    position: relative;
}

.image_content_tmln{
    position: absolute;
    padding: 10px;
}

.image_summary_tmln{
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 25.76px;
    text-align: left;
    color:  #FFFFFF;
}

.first_timeline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 8rem;
    position: relative;
}

.second_timeline{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 8rem;
    position: relative;
    height: 800px;
    background-image: url('../images/Previouspage/tmlnbg.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.timeline_content{
    width: 47%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.sec_timeline_content{
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.upcom_eve_tmln_wrapper,.nocon_eve_tmln_wrapper{
    position: relative;
}


.upcom_eve_tmln_wrapper::before,.nocon_eve_tmln_wrapper::before{
    content: '';
    position: absolute;
    left: 50%;
    height: 82.5%;
    top: 3%;
    border: 2px solid #F4238D;
    z-index: 5;
}

.timeline_img::before{
    content: '';
    height: 20px;
    width: 20px;
    background-color: #F4238D;
    top: 16%;
    border: none;
    border-radius: 50%;
    position: absolute;
    left: 49.45%;
}

.timeline_img::after{
    content: 'December 2024.';
    color: #F4238D;
    border: none;
    position: absolute;
    left: 52%;
    top: 16%;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.16px;
    text-align: left;
}

.sec_timeline_img::after{
    content: 'December 2024.';
    color: #F4238D;
    border: none;
    position: absolute;
    left: 39%;
    top: 26%;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.16px;
    text-align: left;
}

.sec_timeline_img::before{
    content: '';
    height: 20px;
    width: 20px;
    background-color: #F4238D;
    border: none;
    top: 26%;
    border-radius: 50%;
    position: absolute;
    left: 49.45%;
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 30px;
    width: 9%;
    margin: auto;
}

